.backgroundProfile {
    background-color: #20B2AA;
}

.salesContainerProfile {
    height: 300px;
    width: 100%;
    border: 3px solid #20B2AA;

}
h1.backgroundProfile{
    color: black;
}

.graphics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}