main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 105px;
  margin-top: 70px;
}

main h1 {
  font-size: 1.8rem;
  color: #ffffff;
  padding: 5px;
  background-color: rgb(9, 197, 175);
}

.backgroundItems{
  background-color: #000000;
}

.salesContainerItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 650px;
  width: 100%;

  border: 3px solid #000000;
}




