.floating-button-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.floating-button {
  background-color: #E6322A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.pdf-content {
  display: none; 
}