.canvaStyle {
    width: 600px;
    height: 250px;
}

@media screen and (max-width: 1024px) {
    .canvaStyle {
        width: 400px !important;
        height: 200px !important;
    }
}

@media only screen and (max-width: 480px) {
    .canvaStyle {
        width: 300px !important;
        height: 150px !important;
    }
  }