.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  
}

.footer a {
  color: #00BFFF;
  font-size: 20px;

}

.linkPainel {
  display: flex; 
  align-items: center; 
}

@media only screen and (max-width: 480px) {
  .linkPainel a {
    font-size: 0.9rem;
  }

  img {
    width: 100px;
    height: 50px;
  }
}