  .product-list-container {
    margin-top: 20px;
    width: 100%;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .product-table tbody tr:hover {
    background-color: #dddddd;
  }
  
  @media screen and (max-width: 768px) {
    tbody td, thead th {
        font-size: .8rem;
    }
  }

  @media only screen and (max-width: 480px) {
    tbody td, thead th {
      font-size: .7rem !important;
    }
  }