.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); /* cor branca com opacidade */
  z-index: 9999; /* garante que o overlay esteja na parte superior */
}

.container_modal-content {
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 100%;
}

.container_modal {
  color: #ffffff;
}